*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    position:relative;
    transition:all 0.3s ease-in;
}
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Exo+2&family=Open+Sans&family=Playfair+Display&display=swap');

:root{
    --bgclr: #000;
    --bgsub:#141414;
    --clr:#00FFA7;
    --clr2:#ffffff;
}

.heading-font{
    font-family: 'Exo 2', sans-serif;
}

.content-font{
font-family: 'Open Sans', sans-serif;

}

body{
    background-color:var(--bgclr);
    overflow-x:hidden;
}
body,html{
    scroll-behavior:smooth;
}
.container-fluid{
    width:100%;
    min-height:100vh;
    height:max-content;
}

.card{
    background-color:var(--bgsub);
    color:var(--clr);
}
.card:hover{
    background-color:var(--clr);
    color:var(--bgsub);
}

.btn{
    box-shadow:none;
    /* background-color:var(--clr); */
    border:2px solid var(--clr);
    color:var(--clr);
    

}

i{
    font-size:20px;
}

.btn:focus{
    box-shadow:none;

}

